
.message-container {
    position: absolute;
    top: 7%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
}

.alert {
    padding: 8px !important;
}

@media (max-width: 1920px) {
    .text-md {
        font-size: .9rem; /* Example: Adjust font size for x-large screens */
    }
}

@media (max-width: 1511px) {
    .text-md {
        font-size: .7rem; /* Example: Adjust font size for x-large screens */
    }
}

@media (max-width: 992px) {
    .text-md {
        font-size: .7rem; /* Example: Adjust font size for large screens */
    }
}

@media (max-width: 768px) {
    .text-md {
        font-size: .7rem; /* Example: Adjust font size for medium screens */
    }
}

@media (max-width: 576px) {
    .text-md {
        font-size: .6rem; /* Example: Adjust font size for small screens */
    }
}
