{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row text-center mt-5">
        <h1>Welcome to FinWize</h1>
        <h3>Budgeting - Simplified!</h3>
        <p class="mt-4">
            <button class="btn btn-primary"><a href="/signup" class="text-light">Register Today!</a></b></button><b>
        </p>
        <p>
            <b>Already have an account? 
            <p>
               <button class="btn btn-primary"><a href="/login" class="text-light">Login here!</a></button></b> 
            </p>
        </p>
    </div>
</div>


{% endblock %}