{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <aside class="col-xl-1 col-lg-2 col-md-3 col-sm-3 col-3 bg-dark text-white d-flex flex-column align-items-start vh-100" id="home-aside">
            <div class="flex-grow-1">
                <ul class="list-unstyled text-md">
                    <li><a href="" class="icon-link icon-link-hover text-light">
                        <svg class="bi" aria-hidden="true"><use xlink:href="#clipboard"></use></svg>
                        Budgets
                    </a></li>
                    <li><a href="" class="icon-link icon-link-hover text-light">
                        <svg class="bi" aria-hidden="true"><use xlink:href="#clipboard"></use></svg>
                        Expenses
                    </a></li>
                    <li><a href="" class="icon-link icon-link-hover text-light">
                        <svg class="bi" aria-hidden="true"><use xlink:href="#clipboard"></use></svg>
                        Categories
                    </a></li>
                    <li><a href="" class="icon-link icon-link-hover text-light">
                        <svg class="bi" aria-hidden="true"><use xlink:href="#clipboard"></use></svg>
                        Subcategories
                    </a></li>
                </ul>
            </div>
        </aside>
    </div>
</div>

<main class="col">

</main>

{% endblock %}